@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body {
	font-family: 'Titillium Web', sans-serif;
}
h1 {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}
hr {
	clear: both;
	border: 0px;
	margin: 0px;
}
.field {
	float: left;
	width: 64px;
	height: 64px;
	border: 1px solid #000000;
	padding: 5px;
	margin: 5px;
	
	font-size: 2em;
	text-align: center;
	
	display: block;
	line-height: 64px;
}
.field-info {
	float: left;
	width: 64px;
	height: 64px;
	border: 1px solid #000000;
	padding: 5px;
	margin: 5px;
	
	background: #C0C0C0;
	
	font-size: 2em;
	text-align: center;
	
	display: block;
	line-height: 64px;
}
.game-window {
	height: 526px;
	width: 516px;
	margin-left: auto;
	margin-right: auto;
	
	border: 1px solid #000000;
}
.about {
	min-width: 516px;
	margin-left: auto;
	margin-right: auto;
}
.point-counter {
	height: 64px;
	width: 506px;
	border: 1px solid #000000;
	margin: 5px;
	padding: 5px;
	line-height: 64px;
	text-align: right;
	font-size: 2em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.popup {
	position: fixed;
	top: 5px;
	left: 50%;
	right: 0px;
	width: 700px;
}
.inner-popup {
	position: relative;
	left: -50%;
}
.lost-popup {
	text-align: center;
	border: 5px solid #FF0000;
	border-radius: 5px;
	font-size: 2.4em;
	background: #FFFFFF;
}
.win-popup {
	text-align: center;
	border: 5px solid #00FF00;
	border-radius: 5px;
	font-size: 2.4em;
	background: #FFFFFF;
}
.info-popup {
	text-align: center;
	border: 5px solid #0000FF;
	border-radius: 5px;
	font-size: 2.4em;
	background: #FFFFFF;
}
.twitter-hashtag-button {
}